.page-container {
    /* border: 3px solid black; */
    margin: auto;
    width: 65%;
}

.header-lower {
    /* border: 3px solid blue; */
    display: flex;
}

.header-container {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.review-upper {
    /* border: 3px solid red; */
    display: flex;
    width: 75%;
    align-items: center;
    /* justify-content: space-between; */
    gap: .5vw;

}

.each-star {
    font-size: .7rem;
    padding-right: 2px;
}

.inner-left {
    /* border: 3px solid green; */
    display: flex;
    align-items: center;
}

.inner-right {
    /* border: 3px solid orange; */
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1030px) {
    .header-lower {
        display: flex;
        /* border: 3px solid blue; */
    }

    .header-lower-left {
        /* border: 3px solid red; */
        width: 70%;
        display: flex;
        align-items: center;
        line-height: 5px;
        justify-content: space-evenly;
        text-decoration: underline;
    }

    .header-lower-right {
        /* border: 3px solid gold; */
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .body-left {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .body-right {
        width: 50%;
    }

    .booking-card {
        border: 3px solid rgba(205, 205, 205, 0.2);
        position: sticky;
        top: 150px;
        border-radius: 10px;
        height: 65%;
        width: 70%;
        z-index: -1;
    }
    
}


@media screen and (min-width: 1030px) {
    .body-left-header {
        line-height: 5px;
    }

    .header-lower-left {
        /* border: 3px solid orange; */
        width: 50%;
        display: flex;
        align-items: center;
        line-height: 5px;
    }
    .header-lower-left p {
        margin: 7px;
        text-decoration: underline;
    }
    .header-lower-right {
        /* border: 3px solid red; */
        width: 50%;
        display: flex;
        justify-content: flex-end;
    }
    .body-left {
        /* border: 3px solid blue; */
        width: 55%;
        display: flex;
        flex-direction: column;
    }
    
    .body-right {
        /* border: 3px solid red; */
        width: 45%;
    }

    .booking-card {
        border: 3px solid rgba(205, 205, 205, 0.2);
        position: sticky;
        top: 150px;
        border-radius: 10px;
        height: 500px;
        width: 60%;
        z-index: -1;
    }
}

.edit-btn {
    background-color: transparent;
    border: none;
    font-size: 1rem;
}

.delete-btn {
    background-color: transparent;
    border: none;
    font-size: 1rem;
}

.image-box {
    /* border: 3px solid red; */
    margin-top: 25px;
    display: flex;
}

.image-box-left {
    /* border: 3px solid blue; */
    width: 50%;
    display: flex;
    justify-content: center;
}

.image-box-right {
    /* border: 3px solid yellow; */
    width: 50%;
    display: flex;
    flex-direction: column;
}

.imgbox-top {
    /* border: 3px solid orange; */
    display: flex;
    height: 50%;
}

.imgbox-bot {
    /* border: 3px solid blue; */
    display: flex;
    flex-direction: row;
    height: 50%;
}

.smimg-top {
    /* border: 2px solid teal; */
    width: 50%;
    padding: 3px;
    display: flex;
    justify-content: center;
}

.smimg-bot {
    /* border: 2px solid purple; */
    width: 50%;
    padding: 3px;
    display: flex;
    justify-content: center;
}

.det-img {
    width:100%;
    max-height:100%;    
}

.big-img {
    border-radius: 15px 0 0 15px;
    width: 100%;
    /* max-width:100%;
    max-height:100%; */
    object-fit: cover;
}

.bot-corner {
    border-radius: 0 0 15px 0;
}

.top-corner {
    border-radius: 0 15px 0 0;
}

.body-container {
    /* border: 3px solid gold; */
    margin-top: 25px;
    display: flex;
}



.body-left-standout {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.super-host p {
    color: #808080;
}

.bl-flex {
    padding-top: 1vh;
    display: flex;
    gap: 1vw;
    align-items: center;
}

.icon-container {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.title {
    /* border: 3px solid red; */
    margin: 0;
}

.bot-text {
    margin: 0;
    /* border: 3px solid blue; */
}

.super-host {
    /* border: 3px solid gold; */
    display: flex;
    flex-direction: column;
    gap: 1vh;
    height: 8vh;
}

.icon {
    height: 8vh;
}

.check-in p {
    color: #808080;
}

.check-in {
    border: 3px solid red;
    height: 8vh;
}

.cancellation {
    height: 8vh;
}

/* .body-left-desc p {
    color: #808080;
} */

.body-right {
    display: flex;
    justify-content: center;
}


.line {
    margin-top: 50px;
    /* border: 3px solid red; */
}

.det-line {
    /* border: 3px solid red; */
    width: 100%;
}

.reviews-container {
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
}

.reviews-header {
    display: flex;
    align-items: center;
    /* border: 3px solid blue; */
}
.review-star {
    font-size: 1.2rem;
    color: black;
    padding-right: 3px;
}

.reviews-box {
    /* border: 3px solid gold; */
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    flex-wrap: wrap;
    gap: 2vw;
}
.review-actual {
    /* display: flex;
    flex-direction: row; */
    /* border: 3px solid purple; */
    /* align-items: center; */
    width: 45%;
    height: fit-content;
    /* padding: 15px; */
    /* margin: 10px */
};

.review-upper-left {
    border: 3px solid red;
}
