.loader {
    position: relative;
    border-radius: 30px;
    width: 60%;
    height: 4px;
    top: 250px;
    left: 325px;
}

.loader::before {
    content: "";
    position: absolute;
    border-radius: 20px;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(255, 56, 92);
    animation: moving 0.5s ease-in-out infinite;
}


@keyframes moving {
    50% {
     width: 100%;
    }
   
    100% {
     width: 0;
     right: 0;
     left: unset;
    }
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
    /* border: red solid 3px; */
    /* margin-left: 50px; */
    /* margin-right: 50px; */
}
