

.form {
    display: flex;
    flex-direction: column;
}

.input {
    border-radius: 10px;
    border: 0.5px solid;
    /* width: 475px; */
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

.button {
    margin-top: 20px;
    background-color: rgb(255, 56, 92);
    border: 0.5px solid;
    border-radius: 10px;
    /* height: 43px; */
    height: 2rem;
    color: white;
    text-transform: uppercase;
}

.button:hover {
    cursor: pointer;
}

.header-box {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "x s ."; */
}


.header {
    /* grid-area: "s"; */
    text-align: center;
}

.x-button {
    margin-right: 135px;
    grid-area: "x";
    background-color: transparent;
    font-size: 95%;
    color: gray;
    border: none;
}

.x-button:hover {
    cursor: pointer;
}

.signup-btn {
    background-color: rgb(255, 56, 92);
}
   
.signup-btn {
    margin: 10px;
    /* padding: 15px 30px; */
    padding: 5px 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
}

.signup-btn:hover {
    cursor: pointer;
}

.signup-btn:active {
    transform: scale(0.95);
}


@media only screen and (min-width: 1024px) and (max-width: 1324px) {
}

@media only screen and (min-width: 601px) and (max-width: 1024px){

}

@media only screen and (max-width: 600px) {
    .header-box {
        display: flex;
        justify-content: center;
        /* border: 3px solid orange; */
    }

    .header {
        margin: 0;
        /* border: 3px solid red; */
    }

    .header h3 {
        margin: 0;
    }
    
}
