

.form {
    display: flex;
    flex-direction: column;
}

.input {
    border-radius: 10px;
    border: 0.5px solid;
    width: 475px;
    padding: 10px;
    margin: 5px 0;
}

.button {
    margin-top: 20px;
    background-color: rgb(255, 56, 92);
    border: 0.5px solid;
    border-radius: 10px;
    height: 43px;
    color: white;
}

.button:hover {
    cursor: pointer;
}

.header-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "x s .";
}

.header {
    grid-area: "s";
    text-align: center;
}

.x-button {
    margin-right: 135px;
    grid-area: "x";
    background-color: transparent;
    font-size: 95%;
    color: gray;
    border: none;
}

.x-button:hover {
    cursor: pointer;
}
