.no-spots {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  /* border: 3px solid pink; */
  height: 100%;
}

.sad {
  padding: 15px;
  font-size: 3rem;
  color: rgba(255, 56, 92, 0.7);
}
