#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  #modal-content {
    width: 500px;
    height: 650px;
    position: absolute;
    background-color:#FFF;
    padding: 15px;
    border-radius: 15px;
  }

  #modal2 {
    position: absolute;
    top: 155px;
    right: 363px;
    /* left: 0; */
    /* bottom: 200px; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #modal-background2 {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  
  #modal-content2 {
    width: 180px;
    height: fit-content;
    position: absolute;
    background-color:#FFF;
    padding: 15px;
    border-radius: 15px;
    /* border: red solid 3px; */
    box-shadow: 0px 0px 15px -5px;
  }
