/* TODO Add site wide styles */
* {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.main {
    margin-left: 0px;
    margin-right: 0px;
    /* border: 3px solid blue; */
}

hr {
    border: none;
    height: 0.01rem;
    color: #D3D3D3;
    background: #e0e0e0;
}
