.card {
    box-sizing: border-box;
    width: 17vw;
    overflow: hidden;
    padding: 3px;
    margin: 8px;
    display: flex;
    flex-direction: column;
}

.image-container {
    height: 70%;
    display: flex;
    justify-content: center;
}

.image-container img {
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.card-body {
    height: 30%;
}

.title-container {
    display: flex;
    flex-direction: column;
    height: 50%;
}

.title-upper {
    display: flex;
    align-items: center;
    height: 50%;
}

.title-upper-left {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 70%;
    font-size: 1.1rem;
}

.title-upper-left h5 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.title-upper-right {
    display: flex;
    justify-content: flex-end;
    width: 30%;
}

#noReview {
    font-size: 0.8rem;
}

.title-upper-right span {
    margin-right: 9px;
    font-size: .95rem;
}

.title-lower {
    display: flex;
    align-items: center;
    height: 50%;
    font-size: .9rem;
    color: #808080;
}

.price-container {
    position: relative;
    bottom: 1.5vh;
    font-size: 0.8rem;
    font-size: .9rem;
    height: 4vh;
}

.price-container span {
    font-weight: 800;
}

.card:hover {
    cursor: pointer;
} 


@media only screen and (max-width: 600px) {
    .card {
        width: 100%;
    }
    .title-upper-left h5 {
        font-size: 1rem;
    }
    .title-upper-right span {
        font-size: .9rem;
    }
    .title-lower {
        font-size: .8rem;
    }
    .price-container {
        font-size: .8rem;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
    .card {
        width: 70%;
    }
    .title-upper-left h5 {
        font-size: 1.2rem;
    }
    .title-upper-right span {
        font-size: 1.2rem;
    }
    .title-lower {
        font-size: 1rem;
    }
    .price-container {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1324px) {
    .card {
        width: 25%;
    }
    .title-upper-left h5 {
        font-size: 1.2rem;
    }
    .title-upper-right span {
        font-size: 1.2rem;
        visibility: hidden;
    }
    .title-lower {
        font-size: 1rem;
    }
    .price-container {
        font-size: 1rem;
    }

    .title-upper {
        /* border: 3px solid red; */
        display: flex;
        justify-content: center;
    }
    /* .card-body{
        display: flex;
        justify-content: center;
    } */
}
