.card {
    /* border: 3px solid black; */
    box-sizing: border-box;
    width: 250px;
    overflow: hidden;
    padding: 3px;
    margin: 8px;
    display: flex;
    flex-direction: column;
}

.image-container {
    /* border: 3px solid pink; */
    height: 70%;
    display: flex;
    justify-content: center;
}

.image-container img {
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.card-body {
    /* border: 3px solid lightblue; */
    height: 30%;
}

.title-container {
    /* border: 3px solid orange; */
    display: flex;
    flex-direction: column;
    height: 50%;
}

.title-upper {
    /* border: 3px solid gold; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    height: 50%;
}

.title-upper-left {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 70%;
}

.title-upper-left h5 {
    text-overflow: ellipsis;
}

.title-upper-right {
    display: flex;
    justify-content: flex-end;
    width: 30%;
}

#noReview {
    font-size: 0.7rem;
}

.title-upper-right span {
    margin-right: 9px;
    font-size: .95rem;
}

.title-lower {
    display: flex;
    align-items: center;
    height: 50%;
    font-size: 0.8rem;
    color: #808080;
}

.price-container {
    font-size: 0.8rem;
    font-size: .9rem;
}

.price-container span {
    font-weight: 800;
}

.card:hover {
    cursor: pointer;
} 
/* 
@media screen and (max-width: 1030px) {
    .card {
        width: 200px;
    }
}  */
