.nav-container {
    /* position: sticky;
    top: 0; */
    margin-top: 15px;
    margin-bottom: 0px;
    margin: auto;
    width: 94%;
    display: flex;
    /* justify-content: space-between; */
    /* border: 3px solid teal */
};
.dropdown {
    /* border: 3px solid red; */
    margin-top: 200px;
    text-align: center;
    position: absolute;
}

.big-nav {
    /* border: 3px solid red; */
    display: flex;
}

.logged-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    margin-top: 15px;
    background-color: white;
    box-shadow: 0px 0px 15px -5px;
    border-radius: 15px;
    position: absolute;
    /* border: 3px solid blue; */
}

.login-logout {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin-top: 15px;
    background-color: white;
    box-shadow: 0px 0px 15px -5px;
    border-radius: 15px;
    position: absolute;
    /* border: 3px solid blue; */
}

.profile-btn {
    background-color: transparent;
    border: none;
}

.btn {
    background-color: rgb(255, 56, 92);
}
   
.btn {
    margin: 10px;
    padding: 5px 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
}

.btn:hover {
    cursor: pointer;
}

.btn:active {
    transform: scale(0.95);
}

.btn-box {
    display: flex;
}

.drop-content {
    font-size: .8rem;
    padding-left: 5px ;
}

.drop-content-div {
    /* border: 3px solid black; */
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
}

.user {
    border-radius: 12px 12px 0 0;
}

.user:hover {
    margin-top: 0;
}

.logoutbtn {
    border-radius: 0 0 12px 12px;
}

.logoutbtn:hover {
    margin-bottom: 0;
}

.drop-content-div:hover {
    background-color: lightgray;
}

.logo {
    top: 15px;
    width: 50px;
}

.clickable:hover {
    cursor: pointer;
}   

.sesh {
    margin-top: 20px;
    /* border: 3px solid blue; */
    display: flex;
    align-items: center;
    width: 33%;
}

.host{
    /* border: 3px solid red; */
    width: 60%;
    font-size: .9rem;
    display: flex;
    justify-content: flex-end;
}

.profile {
    /* border: 3px solid gold; */
    width: 40%;
    display: flex;
    justify-content: center;
}

.search {
    display: flex;
    justify-content: center;
    /* border: 3px solid black; */
    width: 33%;
}

.home {
    width: 33%;
}
